.navbar{
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 24px;
    padding-top: 9px;
    height: 35px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;

}