.footer{
    background: #333;
    color: white;
    text-align: center;
    padding-top: 13px;
    margin-top: 40px;
    border-radius: 10px;
    height: 55px;
    position: absolute;
    right: 110px;
    left: 110px;
    bottom: auto;
    font-family: cursive;
}

@media (max-width: 768px){
    .footer{
        margin-top: 30px;
        padding-top: 10px;
        height: 50px;
        right: 0;
        left: 0;
    }
    
}